* {
    box-sizing: border-box;
}

/* body typeface */
body
{
  font-family: 'Source Sans Pro', sans-serif;
}

/* restyling react-router's Link component */
a
{
  text-decoration: none;
}

/* 12-column grid def */
[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* utility classes */
.float-left
{
  float: left;
}

.float-right
{
  float: right;
}

.text-align-left
{
  text-align: left;
}

.text-align-right
{
  text-align: right;
}

.web-max-width
{
  max-width: 960px;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.horizontal-center
{
  margin: auto;
}

.bottom-divider
{
  height: 1px;
  background-color: #9B9B9B;
  margin-top: 50px;
  width: 100%;
}

.footer-centered-text
{
  margin-top: 8vh;
  margin-bottom: 8vh;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

@media (max-width:768px) {
  [class*="col-"] {
    float: left;
    width: 100%;
  }
}